<td><%= character.id %></td>
<td><%= character.name %></td>
<td><%= character.vocation %></td>
<td><%= character.level %></td>
<td><%= character.race %></td>
<td><%= character.residence %></td>
<td><%= character.last_login %></td>


